<template lang='pug'>
  .md-layout
    .md-layout-item
      
      md-card
        md-card-header
          .md-title Crawl groups
        md-card-content
          div
            .md-helper-text Groups to search: {{ crawlingGroups }}
            .md-helper-text Time to last search: {{ timeLast }}
          
        md-card-actions
          input.md-button(type='submit', value='Start', @click='startCrawl')

</template>

<script>
export default {
    name: 'Crawler',
    data: () => ({
        snackbar: {
            show: false,
            text: 'Test'
        },
        form: {
            endDate: null
        }
    }),
    created() {
        this.axios.get('/api/database/settings').then(resp => {
            this.form.endDate = resp.data.endDate;
        });
    },
    computed: {
        crawlingGroups() {
            return this.$store.getters.crawlingGroups.length
                ? this.$store.getters.crawlingGroups
                      .map(group => group.name)
                      .join(', ')
                : 'No groups selected!';
        },
        timeLast() {
            if (this.form.endDate === null) {
                return 'No last date';
            } else {
                const diffTime = this.$moment(this.form.endDate).fromNow();
                console.log(this.form.endDate);
                return diffTime;
            }
        }
    },
    methods: {
        async startCrawl() {
            this.$store.commit('setSpinning', true);
            await this.axios.post('/api/facebook/crawl', {
                keywords: this.form.keywords,
                groups: this.$store.getters.crawlingGroups,
                user: this.$store.getters.selectedUser,
                endDate: this.form.endDate
            });
        }
    }
};
</script>

<style scoped>

</style>
