<template lang='pug'>
  .md-layout
    .md-layout-item
      form(v-on:submit.prevent='addKeyword')
        md-card
          md-card-header
            .md-title Add keyword
          md-card-content
            md-field
              label(for='keyword') Keyword
              md-input.md-primary#keyword(name='keyword', v-model='form.keyword')    
            md-field
              label(for='group') Group
              md-select(v-model='form.group', name='group', id='group')
                md-option(v-for='group in crawlingGroups', :key='group.id', :value='group.group_id') {{ group.name }}
            small Type of keyword
          md-card-actions(md-alignment='space-between')
            input.md-button(type='submit', value='Add')
    .md-layout-item
      md-table(v-model='keywords', md-card)
        md-table-toolbar
          h1.md-title Keywords
        md-table-empty-state(v-if='keywords.length === 0',md-label='No keywords found', md-description='No keywords added yet.')
        
        md-table-row(slot='md-table-row' slot-scope='{ item }')
          md-table-cell(md-label='Word') {{ item.keyword }}
          md-table-cell(md-label='Group') {{ item.name }}
          md-table-cell(md-label='Action')
            md-button.md-icon-button(@click='deleteKeyword(item.id)')
              md-icon delete
              md-tooltip(md-direction='left') Delete
    .md-layout-item
      md-card
        md-card-header
          h1.md-title Groups
        md-card-content
          md-content.md-scrollbar#group-list-wrap
            md-list#group-list
              md-subheader Groups to crawl
              md-list-item(v-for='group in groups' :key='group.id')
                md-checkbox(v-model='selectedGroups', :value='group.id')
                span.md-list-item-text {{ group.name }}
        md-card-actions(md-alignment='space-between')
          md-button.md-primary(@click='saveGroups') Save

    md-snackbar(md-position='center', :md-duration='5000', :md-active.sync='snackbar.show' md-persistent)
      span {{ snackbar.text }}
      md-button.md-primary(@click='snackbar.show = false') Dismiss
</template>

<script>
export default {
    name: 'Index',
    data: () => ({
        snackbar: {
            show: false,
            text: 'Test'
        },
        form: {
            keywords: [],
            keyword: '',
            type: false,
            group: null
        }
    }),
    async created() {},
    computed: {
        groups() {
            return this.$store.state.groups;
        },
        keywords() {
            return this.$store.state.keywords;
        },
        selectedGroups: {
            get: function() {
                return this.$store.state.groups
                    .filter(g => g.crawl !== 0)
                    .map(g => g.id);
            },
            set: function(val) {
                this.$store.commit('setCrawlState', val);
            }
        },
        crawlingGroups() {
            return this.$store.getters.crawlingGroups;
        }
    },
    methods: {
        async addKeyword() {
            if (!this.form.keyword.length) {
                this.snackbar.text = 'Please add a keyword';
                this.snackbar.show = true;
                return;
            }
            if (this.form.group === null) {
                this.snackbar.text = 'Please select a group';
                this.snackbar.show = true;
                return;
            }
            let resp = await this.axios.post('/api/database/keywords/add', {
                keyword: this.form.keyword,
                groupId: this.form.group
            });
            this.snackbar.text = resp.data.text;
            this.snackbar.show = true;
            this.$store.commit('setKeywords', resp.data.keywords);
            this.form.keyword = '';
        },
        async deleteKeyword(keywordId) {
            let resp = await this.axios.post('/api/database/keywords/delete', {
                id: keywordId
            });
            this.snackbar.text = 'Keyword deleted';
            this.snackbar.show = true;
            this.$store.commit('setKeywords', resp.data.keywords);
        },
        async saveGroups() {
            let resp = await this.axios.post('/api/database/groups/update', {
                groups: this.selectedGroups,
                userId: this.$store.getters.selectedUser.facebook_id
            });
            this.snackbar.text = 'Groups updated';
            this.snackbar.show = true;
        }
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#group-list-wrap {
    max-height: 400px;
    overflow: auto;
}
#group-list {
    padding-top: 10px;
}
</style>