<template lang='pug'>
  .md-layout
    .md-layout-item
      md-table(v-model='posts', md-card)
        md-table-toolbar
          h1.md-title Posts
        .md-toolbar-section-end
          
        md-table-empty-state(v-if='posts.length === 0',md-label='No posts found', md-description='No posts crawled yet.')
        
        md-table-row(slot='md-table-row' slot-scope='{ item }')
          md-table-cell(md-label='Group') 
            md-button.md-accent.md-dense(:href='item.post_url' target='_blank') {{ item.group_name }}
          md-table-cell(md-label='Keyword') {{ item.keyword }}
          md-table-cell(md-label='Text') {{ item.post_text }}
          md-table-cell(md-label='Time') {{ item.post_time }}
          md-table-cell(md-label='Comments') {{ item.comments }}
          md-table-cell(md-label='Likes') {{ item.likes }}

    md-snackbar(md-position='center', :md-duration='5000', :md-active.sync='snackbar.show' md-persistent)
      span {{ snackbar.text }}
      md-button.md-primary(@click='snackbar.show = false') Dismiss

</template>

<script>
const toLower = text => text.toString().toLowerCase();
const searchByKeyword = (items, term) =>
  term
    ? items.filter(item => toLower(item.keyword).includes(toLower(term)))
    : items;

export default {
  name: 'Users',
  data: () => ({
    search: null,
    snackbar: {
      show: false,
      text: 'Test'
    },
    form: {
      username: '',
      password: ''
    }
  }),
  created() {
    this.$store.dispatch('fetchPosts');
  },
  methods: {
    searchOnTable() {
      this.searched = searchByKeyword(this.$store.state.posts, this.search);
    }
  },
  computed: {
    posts() {
      return this.$store.state.posts;
    }
  }
};
</script>

<style scoped>

</style>
