<template lang='pug'>
  .md-layout
    .md-layout-item.md-size-33
      form(v-on:submit.prevent='loginSubmit')
        md-card
          md-card-header
            .md-title Add user
          md-card-content
            md-field
              label(for='username') Username
              md-input.md-primary#username(name='username', v-model='form.username')
            md-field
              label(for='password') Password
              md-input#password(name='password', v-model='form.password', type='password')
            div
              md-radio(v-model='form.lang', value='en') English
              md-radio(v-model='form.lang', value='it') Italian
          md-card-actions(md-alignment='space-between')
            input.md-button(type='submit', value='Login')

    .md-layout-item.md-size-66
      md-card
        md-card-header
          .md-title View 
        md-card-content
          div(v-if='usersAvailable')
            md-table
              md-table-row
                md-table-head Username
                md-table-head Action
              md-table-row(v-for='user in users', :key='user.id')
                md-table-cell {{ user.username }}
                md-table-cell
                  md-button.md-icon-button(@click='deleteUser(user.facebook_id)')
                    md-icon delete
                    md-tooltip(md-direction='left') Delete
          div(v-else)
            h1 No users found
    md-snackbar(md-position='center', :md-duration='5000', :md-active.sync='snackbar.show' md-persistent)
      span {{ snackbar.text }}
      md-button.md-primary(@click='snackbar.show = false') Dismiss

</template>

<script>
export default {
  name: 'Users',
  data: () => ({
    snackbar: {
      show: false,
      text: 'Test'
    },
    form: {
      username: '',
      password: '',
      lang: 'eng'
    }
  }),
  created() {},
  methods: {
    async deleteUser(id) {
      this.$store.commit('setSpinning', true);
      let newUsers = await this.axios.post('/api/users/delete', {
        facebookId: id
      });
      this.$store.commit('setSpinning', false);
      this.$store.commit('setUsers', newUsers.data);
    },
    async loginSubmit() {
      this.$store.commit('setSpinning', true);
      let newUsers = await this.axios.post('/api/users/add', this.form);
      this.$store.commit('setSpinning', false);
      if (typeof newUsers.data.error !== 'undefined') {
        this.snackbar.text = newUsers.data.error;
        this.snackbar.show = true;
      } else {
        this.form.username = '';
        this.form.password = '';
        this.$store.commit('setUsers', newUsers.data.users);
        this.$store.commit('setGroups', newUsers.data.groups);
        this.$store.commit('setSelectedUserId', newUsers.data.thisUser);
      }
    }
  },
  computed: {
    users() {
      return this.$store.state.users;
    },
    usersAvailable() {
      return this.$store.state.users.length ? true : false;
    }
  }
};
</script>

<style scoped>

</style>
