<template lang="pug">
  #app
    .page-container
      md-app(md-mode='fixed')
        md-app-toolbar.md-primary(md-elevation='0')
          md-button.md-icon-button(@click='toggleMenu', v-if='!menuVisible')
            md-icon menu
          span.md-title {{ title }}
          .md-toolbar-section-end
            md-progress-spinner.md-accent(v-if='spinning', :md-diameter='30', :md-stroke='3', md-mode='indeterminate')
            md-menu(v-if='usersAvailable')
              md-button(md-menu-trigger)
                md-icon account_box
                span {{ selectedUser.username }}
              md-menu-content
                md-menu-item(v-for='user in loggedUsers', :key='user.id', @click='changeSelectedUser(user.id)')
                  md-icon account_box
                  span {{ user.username }}

        md-app-drawer(:md-active.sync='menuVisible', md-persistent='mini')
          md-toolbar(md-elevation='0')
            span Menu
            .md-toolbar-section-end
              md-button.md-icon-button.md-dense(@click='toggleMenu')
                md-icon keyboard_arrow_left
          md-list
            md-list-item(to='/')
              md-icon settings
              span.md-list-item-text Crawler settings
              md-tooltip(md-direction='right') Crawler settings
            md-list-item(to='/users')
              md-icon account_box
              span.md-list-item-text Users   
              md-tooltip(md-direction='right') Users
            md-list-item(to='/posts')
              md-icon description
              span.md-list-item-text Posts   
              md-tooltip(md-direction='right') Posts
            md-list-item(to='/crawler')
              md-icon bug_report
              span.md-list-item-text Crawler   
              md-tooltip(md-direction='right') Crawler
        md-app-content
          .md-layout#router-wrap
            router-view
          .md-layout#console-wrap
            .md-layout-item
              md-card.md-accent.md-elevation-0
                md-card-header
                  md-card-header-text
                    .md-title Console
                      md-chip.md-primary#log-length {{ logLength }}
                      md-button.md-right(@click='clearConsole') Clear
                  md-button.md-icon-button.md-right(@click='toggleConsole')
                    md-icon#console-icon keyboard_arrow_up
                md-card-content
                  md-content.md-scrollbar#console-log-wrap
                    pre(v-if='consoleVisible')
                      | {{ logText }}
</template>

<script>
const $ = qs => document.body.querySelector(qs);
export default {
  name: 'Reveal',
  components: {},
  data: () => ({
    menuVisible: false,
    consoleVisible: false,
    title: 'Group feed crawler'
  }),
  created() {},
  computed: {
    spinning() {
      return this.$store.state.spinning;
    },
    logText() {
      return this.$store.getters.logOutput;
    },
    logLength() {
      return this.$store.getters.logLength;
    },
    loggedUsers() {
      return this.$store.state.users;
    },
    selectedUser() {
      return this.$store.getters.selectedUser;
    },
    usersAvailable() {
      return this.$store.getters.userLength ? true : false;
    }
  },
  methods: {
    toggleMenu() {
      this.menuVisible = !this.menuVisible;
    },
    toggleConsole() {
      if (this.consoleVisible) {
        let _vwh = $('#console-wrap').clientHeight - 35;
        $('#console-wrap').style.bottom = `-35px`;
        $('#console-icon').innerHTML = 'keyboard_arrow_up';
      } else {
        $('#console-wrap').style.bottom = '-5px';
        $('#console-icon').innerHTML = 'keyboard_arrow_down';
      }
      this.consoleVisible = !this.consoleVisible;
    },
    changeSelectedUser(userId) {
      this.$store.commit('setSelectedUserId', userId);
      this.$store.dispatch('fetchGroups');
    },
    clearConsole() {
      this.$store.commit('clearLog');
    }
  }
};
</script>


<style lang="scss" scoped>
#app {
  height: 100%;
}
#log-length {
  margin: 0 10px;
  transition: all 0.2s;
}
#router-wrap {
  margin-bottom: 90px;
}
#console-log-wrap {
  max-height: 50vh;
  overflow: auto;
  background: #000;
  color: #fff;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 3px;
  padding: 3px 5px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}
pre {
  margin: 0;
}
#console-wrap {
  z-index: 998;
  position: fixed;
  bottom: -35px;
  transition: all 0.5s;
  width: calc(100vw - 110px);
}
.md-app,
.page-container {
  height: 100%;
}
.md-drawer {
  width: 300px;
  max-width: calc(100vw - 150px);
}
</style>
