@import "~vue-material/dist/theme/engine"; // Import the theme engine
@include md-register-theme(
  "default",
  (
    primary: md-get-palette-color(green, 500),
    accent: md-get-palette-color(bluegrey, 600),
    theme: dark
  )
);

@import "~vue-material/dist/theme/all";
